resolver 8.8.8.8 8.8.4.4 valid=10s ipv6=off;

server {
    listen ${PORT};
    server_name localhost;
    root /usr/share/nginx/html;
    index index.html;

    location /api {
        set $upstream ${API_GATEWAY_URL};
        proxy_pass $upstream;
        proxy_ssl_server_name on;
        proxy_set_header Host ${API_GATEWAY_HOST};
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
